.topnav {
    overflow: hidden;
    background-color: #4E8098;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(153, 134, 98);
  }
  
  .topnav a.active {
    background-color:#363946;
    color: white;
  }

  .signin{
    
    margin-left: 1300px;
    float: right;
  }

  .layout{
    background-color: #0B5351;
    height: 820px;
    align-content: center;
    width: 100%;
    
}
.container {
    padding: 30px;
}

.signup-content {
    background-color: #fefefe;
   /* margin: 5% auto 15% auto;*/ /* 5% from the top, 15% from the bottom and centered */
  
    margin-top: 0%;
    margin-bottom: 5%;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    width:400px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 100px;
}

input[type=text], input[type=password], input[type=email] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.btn {
    background-color: #363946;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    border-color: #107713;
    padding-top: 20px;
    font-size: 100%;
}
.label-SignUp {

    font-style:normal;
    font-size: 20px;
}
.title {
    color: white;
    font-size: 28px;
    width:300px;
    margin-right: 200px;
    display: inline-block;
}
.up {
    color: white;
    margin-left: 400px; 
    margin-top: 5%;
    size: 50px;
   
    
}

.row{
    width: 100%;
    margin: 0 auto;
}
.blocks{

    width:100px;
    display: inline-block;
}
.img{
    width: 10px;
    height: 10px;
}