.login-content {
    background-color: #fefefe;
   /* margin: 5% auto 15% auto;*/ /* 5% from the top, 15% from the bottom and centered */
  
    margin-top: 3%;
    margin-bottom: 5%;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    width:500px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 100px;
}
.log {
    margin-top: 50px;
    color: #f2f2f2;
    font-size: 30px;
    margin-right: 100px;

}
.layout{
    background-color: #0B5351;
    height: 762px;
    align-content: center;
    width: 100%;
    
}
.topnav {
    overflow: hidden;
    background-color: #4E8098;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(153, 134, 98);
  }
  
  .topnav a.active {
    background-color:#363946;
    color: white;
  }
.label-login {

    font-style:normal;
    font-size: 20px;
}
.logcontainer {
    padding: 30px;
}
input[type=text], input[type=password], input[type=email] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.btnlogin {
    background-color: #363946;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 10px;
    border-color: #107713;
    padding-top: 20px;
    font-size: 100%;
}
.label-log {

    font-style:normal;
    font-size: 20px;
}