<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" media="screen" href="../css/diarycontent.css">

</head>

<body>
    <div class="layout">

        <div class="topnav">
            <a href="../index.html"> My Diary </a>
            <a href="./entries.html"> Enter Entries </a>
            <a class="active"> My Diary Entries </a>
            <a href="../index.html" class="signout">Sign Out </a>
        </div>
        <div class="contents">
            My List Of Entries
        </div>
        <br>
        <div class="entry-content">
            <form>
                <div class="contentcontainer">
                    <label class="content-entry">
                        Search by Date:
                    </label>
                    <br>
                    <input type="date" placeholder="Date" class="myentries" required>
                    <br>
                    <label class="content-entry">
                        Search by Title:
                    </label>
                    <br>
                    <input type="text" placeholder="title" class="myentries" required>
                    <br>
                    <button class="btnentry">
                        Search
                    </button>
                    <label class="contents-entry">
                        List of entries:
                    </label>
                    <div class="card">
                        <div class="container">
                            <h4>
                                <b>Andela Interview</b>
                            </h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h4>
                                <b>Best Bithday Ever</b>
                            </h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">
                            <h4>
                                <b>My First Flight</b>
                            </h4>
                        </div>
                    </div>
                    
                </div>
            </form>

        </div>
        <div class="entry-content">
            <form>
                <div class="contentcontainer">
                    <label class="list-entry">
                        View Content
                    </label>
                    <div class="card">
                            <div class="container2">
                                <h4>
                                    <b>Best Bithday Ever</b> 
                                </h4>
                                <label >Last year I celebrated my birthday exactly the way I wanted to. 
                                        My parents had told me that I could ask them for anything on my birthday 
                                        and I asked them to arrange a grand party for my friends.<br>My mother is my best friend
                                         when it comes to inviting my friends home.
                                          She helped me to make invitation cards and to fill them up with names.<br>
                                          She made a list of all the friends that I wanted to call and then made a card to send to each of my friends.
                                           The contents of each card were different so as to suit the taste of the particular friend to whom it was sent.
                                    </label>
                            </div>
                        </div>
                </div>
            </form>
        </div>

    </div>
</body>

</html>