<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" media="screen" href="../css/login.css">

</head>

<body>
    <div class="layout">
        <div class="topnav">
            <a class="active" href="#home"> My Diary </a>
        </div>
        <center>
            <div>
                <div class="log">
                    Login Now
                </div>
                <br>
                <div class="login-content">
                    <form>
                        <div class="logcontainer">
                            <label class="label-login">
                                Enter Your Username
                            </label>
                            <br>
                            <input type="text" placeholder="username" required>
                            <br>
                            <label class="label-SignUp">
                                Enter Your Password
                            </label>
                            <br>
                            <input type="password" placeholder="password" required>
                            <br>

                            <button class="btnlogin">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </center>
    </div>
</body>

</html>